<div>
  <div class="flex items-center gap-2 w-full justify-center">
    @switch (data.type) {
      @case (toastType.SUCCESS) {
        <mat-icon> check_circle </mat-icon>
      }
      @case (toastType.WARNING) {
        <mat-icon>warning</mat-icon>
      }
      @case (toastType.INFO) {
        <mat-icon>info</mat-icon>
      }
      @case (toastType.ERROR) {
        <mat-icon>error</mat-icon>
      }
      @default {
        <mat-icon>notifications</mat-icon>
      }
    }
    <span>{{ data.message }}</span>
  </div>
</div>
