<div class="confirm-email">
  <mat-card class="confirm-email-card" appearance="outlined">
    <mat-card-header class="confirm-email-header">
      <button
        mat-icon-button
        color="primary
      "
      >
        <mat-icon>email</mat-icon>
      </button>
      <h1>Check your inbox</h1>
    </mat-card-header>
    <mat-card-content>
      <p style="color: lightslategray">
        Hemos enviado un correo de confirmación a
        <span style="font-weight: 700; color: black"
          >luisrestrepo1995@gmail.com</span
        >. Por favor, haz clic en el enlace dentro del correo para verificar tu
        cuenta.
      </p>
      <p>
        ¿No recibiste un email?
        <span style="color: rgb(140, 140, 233)"
          >Reenviar link de confirmación</span
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
